{% block body %}
    <h1>Friend Requests</h1>

    {% if friends is not empty %}
        <ul>
            {% for friend in friends %}
                <li>
                    {{ friend.name }}
                    <form action="{{ path('app_member_request_confirme') }}" method="post">
                        <input type="hidden" value="{{ friend.id }}" name="userId">
                        <button type="submit">confirme</button>
                    </form>
                    <form method="post" action="{{ path('app_member_request_annuler', {'id': friend.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ friend.id) }}">
                        <button class="btn">Delete</button>
                    </form>
                    
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No friend requests at the moment.</p>
    {% endif %}
{% endblock %}
