<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        body {
            background-color: #f0f0f0;
            font-family: Arial, sans-serif;
        }

        h1 {
            text-align: center;
            margin-top: 20px;
        }

        table {
            width: 100%;
            margin-top: 20px;
        }

        th, td {
            padding: 15px;
            text-align: left;
        }

        thead {
            background-color: #f8f9fa;
        }

        tr:nth-child(even) {
            background-color: #ffffff;
        }

        a {
            text-decoration: none;
            color: #007bff;
        }

        a:hover {
            text-decoration: underline;
        }

        .btn-back {
            display: block;
            text-align: right;
            text-decoration: none;
            margin-right: 10px;
        }

        .btn-back button {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: #FF69B4;
            color: #fff;
            cursor: pointer;
            background: linear-gradient(to right, #FF69B4, #FF0000);
        }

        .btn-edit {
            display: block;
            text-align: right;
            text-decoration: none;
            margin-right: 30px;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <h1>Contenu Details</h1>
    
    <a href="{{ path('app_moderateur_home') }}" class="btn-back">
        <button>
            Back to List
        </button>
    </a>

    <table class="table align-middle mb-0 bg-white">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contenu.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ contenu.text }}</td>
            </tr>
            <tr>
                <th>Member</th>
                <td>
                    {% if contenu.getUser() is not null %}
                        {{ contenu.getUser().name }}
                    {% else %}
                        User not available
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <div class="btn-edit">
        <a href="{{ path('app_moderateur_edit', {'id': contenu.id}) }}">
            <button class="btn btn-outline-success">
                Edit
            </button>
        </a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-4oTk50jNp3u2FVqZl/cLST5DJnI3p7qCUBCMyXaPqz2Lefw83s3dx2I4lRZM8C5a" crossorigin="anonymous"></script>
</body>
</html>
