{{ form_start(form, {'attr': {'class': 'my-custom-form-class'}}) }}

    {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Name'}}) }}

    {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}

    <!-- Ajoutez d'autres champs au besoin -->

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
    </div>

{{ form_end(form) }}
